:root {
  --COEmY: #1f1f1f;
  --xhUGwc: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: var(--COEmY);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  height: 60px;
}

header div {
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  color: var(--COEmY);
}

header div:nth-child(3) {
  margin-left: auto;
}

main {
  text-align: center;
}
main .logo {
  min-height: 92px;
}

main .logo img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center bottom;
  width: auto;
}
main .searchBtn {
  display: flex;
  z-index: 3;
  position: relative;
  min-height: 44px;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: 0px 2px 8px 0px rgba(60, 64, 67, 0.25);
  border-radius: 24px;
  margin: 0 auto;
  width: 638px;
  width: auto;
  max-width: 584px;
  padding: 10px;
}

main .searchBtn input {
  outline: none;
  width: 100%;
  border: none;
}
